# 인구 소멸 위기 지역 분석
- 각 지역별 **20~30대 여성인구가 65이상 노인 인구에 비해 절반 이하**일 경우 인구 소멸 위험 지역으로 분류
- **2013년 2017년 5년의 데이터 활용** 
- 시도군, 연령별, 남여로 구분된 데이터 활용

In [367]:
import pandas as pd
import numpy as np
import platform
import matplotlib.pyplot as plt
%matplotlib inline 

#matplotlib의 결과를 IPython Notebook안에서 보여줍니다.

- csv파일로 matplotlib를 사용하게 되면 폰트가 깨지는 경우가 발생
- playform.system()을 Window os 로 지정 (맥일 경우 Darwin으로 하면 됩니다.)

In [368]:
path='c:/Windows/Fonts/malgun.ttf'

from matplotlib import font_manager, rc
if platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Font Error')    

plt.rcParams['axes.unicode_minus'] = False

- 인구데이터 불러오기 -> pandas.read_excel
- 데이터프레임 정리 함수 -> .fillna()

In [369]:
pop2013 = pd.read_excel('../bigdata/2013_pop.xls')
pop2013.fillna(method='pad', inplace=True)


pop2013.head()

,시군구,총인구수,총_20~24세,총_25~29세,총_30~34세,총_35~39세,총_40~44세,총_45~49세,총_50~54세,총_55~59세,...,여성_55~59세,여성_60~64세,여성_65~69세,여성_70~74세,여성_75~79세,여성_80~84세,여성_85~89세,여성_90~94세,여성_95~99세,여성_100세 이상
0,서울특별시 (1100000000),9989672,686286,764475,938132,805424,899773,804418,828599,727760,...,378809,264181,214709,175437,117755,70690,37357,14301,3035,480
1,서울특별시 종로구 (1111000000),154938,11240,12032,12405,10701,13981,13162,13435,11375,...,5678,4158,3826,3575,2439,1471,788,325,71,9
2,서울특별시 종로구 청운효자동(1111051500),14240,880,866,1050,1134,1417,1254,1147,811,...,417,360,346,339,229,139,69,33,9,0
3,서울특별시 종로구 사직동(1111053000),9501,592,668,803,763,839,755,758,731,...,380,279,236,237,177,106,49,23,5,0
4,서울특별시 종로구 삼청동(1111054000),3073,166,198,255,206,237,243,259,247,...,135,102,92,86,70,43,30,10,3,0

## 인구소멸위기지역 계산하여 새로운 열에 추가하기
- 여성 20~30대와 남성 20~30대 구하기 
- 65세 이상의 노인 인구수 구하기

In [370]:
pop2013['총_20-39세'] = pop2013['총_20~24세'] + pop2013['총_25~29세']+ pop2013['총_30~34세'] +  pop2013['총_35~39세'] 
pop2013['남성_20-39세'] = pop2013['남성_20~24세'] + pop2013['남성_25~29세']+ pop2013['남성_30~34세'] +  pop2013['남성_35~39세'] 
pop2013['여성_20-39세'] = pop2013['여성_20~24세'] + pop2013['여성_25~29세']+ pop2013['여성_30~34세'] +  pop2013['여성_35~39세'] 

pop2013.head()

,시군구,총인구수,총_20~24세,총_25~29세,총_30~34세,총_35~39세,총_40~44세,총_45~49세,총_50~54세,총_55~59세,...,여성_70~74세,여성_75~79세,여성_80~84세,여성_85~89세,여성_90~94세,여성_95~99세,여성_100세 이상,총_20-39세,남성_20-39세,여성_20-39세
0,서울특별시 (1100000000),9989672,686286,764475,938132,805424,899773,804418,828599,727760,...,175437,117755,70690,37357,14301,3035,480,3194317,1602715,1591602
1,서울특별시 종로구 (1111000000),154938,11240,12032,12405,10701,13981,13162,13435,11375,...,3575,2439,1471,788,325,71,9,46378,23557,22821
2,서울특별시 종로구 청운효자동(1111051500),14240,880,866,1050,1134,1417,1254,1147,811,...,339,229,139,69,33,9,0,3930,1853,2077
3,서울특별시 종로구 사직동(1111053000),9501,592,668,803,763,839,755,758,731,...,237,177,106,49,23,5,0,2826,1310,1516
4,서울특별시 종로구 삼청동(1111054000),3073,166,198,255,206,237,243,259,247,...,86,70,43,30,10,3,0,825,415,410

In [371]:
pop2013['총_65세이상'] = pop2013['총_65~69세'] + pop2013['총_70~74세']+ pop2013['총_75~79세'] +  pop2013['총_80~84세'] + pop2013['총_85~89세']+ pop2013['총_90~94세'] +  pop2013['총_95~99세'] + pop2013['총_100세 이상']

pop2013['남성_65세이상'] = pop2013['남성_65~69세'] + pop2013['남성_70~74세']+ pop2013['남성_75~79세'] +  pop2013['남성_80~84세'] + pop2013['남성_85~89세']+ pop2013['남성_90~94세'] +  pop2013['남성_95~99세'] + pop2013['남성_100세 이상']

pop2013['여성_65세이상'] = pop2013['여성_65~69세'] + pop2013['여성_70~74세']+ pop2013['여성_75~79세'] +  pop2013['여성_80~84세'] + pop2013['여성_85~89세']+ pop2013['여성_90~94세'] +  pop2013['여성_95~99세'] + pop2013['여성_100세 이상']


pop2013.head()

,시군구,총인구수,총_20~24세,총_25~29세,총_30~34세,총_35~39세,총_40~44세,총_45~49세,총_50~54세,총_55~59세,...,여성_85~89세,여성_90~94세,여성_95~99세,여성_100세 이상,총_20-39세,남성_20-39세,여성_20-39세,총_65세이상,남성_65세이상,여성_65세이상
0,서울특별시 (1100000000),9989672,686286,764475,938132,805424,899773,804418,828599,727760,...,37357,14301,3035,480,3194317,1602715,1591602,1127445,493681,633764
1,서울특별시 종로구 (1111000000),154938,11240,12032,12405,10701,13981,13162,13435,11375,...,788,325,71,9,46378,23557,22821,22260,9756,12504
2,서울특별시 종로구 청운효자동(1111051500),14240,880,866,1050,1134,1417,1254,1147,811,...,69,33,9,0,3930,1853,2077,1970,806,1164
3,서울특별시 종로구 사직동(1111053000),9501,592,668,803,763,839,755,758,731,...,49,23,5,0,2826,1310,1516,1477,644,833
4,서울특별시 종로구 삼청동(1111054000),3073,166,198,255,206,237,243,259,247,...,30,10,3,0,825,415,410,594,260,334

## 데이터프레임 정리하기_필요없는 열 삭제

In [372]:
pop2013.columns

Index(['시군구', '총인구수', '총_20~24세', '총_25~29세', '총_30~34세', '총_35~39세',
       '총_40~44세', '총_45~49세', '총_50~54세', '총_55~59세', '총_60~64세', '총_65~69세',
       '총_70~74세', '총_75~79세', '총_80~84세', '총_85~89세', '총_90~94세', '총_95~99세',
       '총_100세 이상', '남성_총인구수', '남성_20~24세', '남성_25~29세', '남성_30~34세',
       '남성_35~39세', '남성_40~44세', '남성_45~49세', '남성_50~54세', '남성_55~59세',
       '남성_60~64세', '남성_65~69세', '남성_70~74세', '남성_75~79세', '남성_80~84세',
       '남성_85~89세', '남성_90~94세', '남성_95~99세', '남성_100세 이상', '여성_총인구수',
       '여성_20~24세', '여성_25~29세', '여성_30~34세', '여성_35~39세', '여성_40~44세',
       '여성_45~49세', '여성_50~54세', '여성_55~59세', '여성_60~64세', '여성_65~69세',
       '여성_70~74세', '여성_75~79세', '여성_80~84세', '여성_85~89세', '여성_90~94세',
       '여성_95~99세', '여성_100세 이상', '총_20-39세', '남성_20-39세', '여성_20-39세',
       '총_65세이상', '남성_65세이상', '여성_65세이상'],
      dtype='object')

In [373]:
pop2013_1 = pop2013[['시군구', '총인구수', '총_20-39세', '남성_20-39세', '여성_20-39세', '총_65세이상']]

pop2013_1.head()

,시군구,총인구수,총_20-39세,남성_20-39세,여성_20-39세,총_65세이상
0,서울특별시 (1100000000),9989672,3194317,1602715,1591602,1127445
1,서울특별시 종로구 (1111000000),154938,46378,23557,22821,22260
2,서울특별시 종로구 청운효자동(1111051500),14240,3930,1853,2077,1970
3,서울특별시 종로구 사직동(1111053000),9501,2826,1310,1516,1477
4,서울특별시 종로구 삼청동(1111054000),3073,825,415,410,594

In [374]:
tmp = pop2013_1
tmp.head()

,시군구,총인구수,총_20-39세,남성_20-39세,여성_20-39세,총_65세이상
0,서울특별시 (1100000000),9989672,3194317,1602715,1591602,1127445
1,서울특별시 종로구 (1111000000),154938,46378,23557,22821,22260
2,서울특별시 종로구 청운효자동(1111051500),14240,3930,1853,2077,1970
3,서울특별시 종로구 사직동(1111053000),9501,2826,1310,1516,1477
4,서울특별시 종로구 삼청동(1111054000),3073,825,415,410,594

In [375]:
tmp['도'] = [address.split(' ')[0] for address in pop2013_1['시군구']] 

tmp['시-군-구'] = [address.split(' ')[1] for address in pop2013_1['시군구']]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [376]:
tmp['-'] = [address.split(' ')[2] for address in tmp['시군구']] 
tmp['읍면동'] = [address.split('(')[0] for address in tmp['-']] 

tmp.head(5)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,시군구,총인구수,총_20-39세,남성_20-39세,여성_20-39세,총_65세이상,도,시-군-구,-,읍면동
0,서울특별시 (1100000000),9989672,3194317,1602715,1591602,1127445,서울특별시,,(1100000000),
1,서울특별시 종로구 (1111000000),154938,46378,23557,22821,22260,서울특별시,종로구,(1111000000),
2,서울특별시 종로구 청운효자동(1111051500),14240,3930,1853,2077,1970,서울특별시,종로구,청운효자동(1111051500),청운효자동
3,서울특별시 종로구 사직동(1111053000),9501,2826,1310,1516,1477,서울특별시,종로구,사직동(1111053000),사직동
4,서울특별시 종로구 삼청동(1111054000),3073,825,415,410,594,서울특별시,종로구,삼청동(1111054000),삼청동

In [377]:
pop2013_1 = tmp[['도', '시-군-구', '읍면동', '총인구수', '총_20-39세', '남성_20-39세', '여성_20-39세', '총_65세이상']]

In [378]:
pop2013_1.head()

       도 시-군-구    읍면동     총인구수  총_20-39세  남성_20-39세  여성_20-39세  총_65세이상
0  서울특별시               9989672   3194317    1602715    1591602  1127445
1  서울특별시   종로구          154938     46378      23557      22821    22260
2  서울특별시   종로구  청운효자동    14240      3930       1853       2077     1970
3  서울특별시   종로구    사직동     9501      2826       1310       1516     1477
4  서울특별시   종로구    삼청동     3073       825        415        410      594

## 노인 인구 65세이상의 절반보다 여성20-30대가 더 적을 경우 소멸위기지역이며 소멸비율을 계산 
- 소멸비율이 1보다 작을 경우 위험한 지역, 1이상일 경우 소멸 위험 지역에 해당이 안됨

In [379]:
pop2013_1.is_copy = False

pop2013_1['소멸비율'] = pop2013_1['여성_20-39세'] / (pop2013_1['총_65세이상'] / 2)
pop2013_1.head()

,도,시-군-구,읍면동,총인구수,총_20-39세,남성_20-39세,여성_20-39세,총_65세이상,소멸비율
0,서울특별시,,,9989672,3194317,1602715,1591602,1127445,2.823379
1,서울특별시,종로구,,154938,46378,23557,22821,22260,2.050404
2,서울특별시,종로구,청운효자동,14240,3930,1853,2077,1970,2.108629
3,서울특별시,종로구,사직동,9501,2826,1310,1516,1477,2.052810
4,서울특별시,종로구,삼청동,3073,825,415,410,594,1.380471

## 소멸비율이 1보다 작은 지역일 경우 소멸위기지역이라고 새로운 열을 생성

In [380]:
pop2013_1['소멸위기지역'] = pop2013_1['소멸비율'] < 1.0
pop2013_1.head()

,도,시-군-구,읍면동,총인구수,총_20-39세,남성_20-39세,여성_20-39세,총_65세이상,소멸비율,소멸위기지역
0,서울특별시,,,9989672,3194317,1602715,1591602,1127445,2.823379,False
1,서울특별시,종로구,,154938,46378,23557,22821,22260,2.050404,False
2,서울특별시,종로구,청운효자동,14240,3930,1853,2077,1970,2.108629,False
3,서울특별시,종로구,사직동,9501,2826,1310,1516,1477,2.052810,False
4,서울특별시,종로구,삼청동,3073,825,415,410,594,1.380471,False

In [381]:
pop2013_1['읍면동'].unique()

array(['', '청운효자동', '사직동', ..., '대천동', '중문동', '예래동'], dtype=object)

In [382]:
pop2013_1.head()

,도,시-군-구,읍면동,총인구수,총_20-39세,남성_20-39세,여성_20-39세,총_65세이상,소멸비율,소멸위기지역
0,서울특별시,,,9989672,3194317,1602715,1591602,1127445,2.823379,False
1,서울특별시,종로구,,154938,46378,23557,22821,22260,2.050404,False
2,서울특별시,종로구,청운효자동,14240,3930,1853,2077,1970,2.108629,False
3,서울특별시,종로구,사직동,9501,2826,1310,1516,1477,2.052810,False
4,서울특별시,종로구,삼청동,3073,825,415,410,594,1.380471,False

In [383]:
pop2013_2 = pop2013_1[pop2013_1['도'] != '세종특별자치시']
pop2013_2 = pop2013_2[pop2013_2['시-군-구'] != ""]
pop2013_2 = pop2013_2[pop2013_2['읍면동'] != ""]

In [384]:
pop2013_2.head(20)

,도,시-군-구,읍면동,총인구수,총_20-39세,남성_20-39세,여성_20-39세,총_65세이상,소멸비율,소멸위기지역
2,서울특별시,종로구,청운효자동,14240,3930,1853,2077,1970,2.108629,False
3,서울특별시,종로구,사직동,9501,2826,1310,1516,1477,2.052810,False
4,서울특별시,종로구,삼청동,3073,825,415,410,594,1.380471,False
5,서울특별시,종로구,부암동,10796,2868,1452,1416,1593,1.777778,False
6,서울특별시,종로구,평창동,19264,5153,2553,2600,2693,1.930932,False
7,서울특별시,종로구,무악동,8365,2082,1007,1075,1095,1.963470,False
8,서울특별시,종로구,교남동,5058,1490,746,744,756,1.968254,False
9,서울특별시,종로구,가회동,5017,1407,670,737,816,1.806373,False
10,서울특별시,종로구,종로1.2.3.4가동,7075,1828,1035,793,1393,1.138550,False
11,서울특별시,종로구,종로5.6가동,5750,1603,916,687,989,1.389282,False
12,서울특별시,종로구,이화동,8697,3339,1610,1729,1058,3.268431,False
13,서울특별시,종로구,혜화동,17549,6913,3644,3269,2336,2.798801,False
14,서울특별시,종로구,창신제1동,5979,1562,853,709,927,1.529666,False
15,서울특별시,종로구,창신제2동,10390,2910,1611,1299,1404,1.850427,False
16,서울특별시,종로구,창신제3동,8020,2328,1187,1141,955,2.389529,False
17,서울특별시,종로구,숭인제1동,7028,2170,1123,1047,905,2.313812,False
18,서울특별시,종로구,숭인제2동,9136,3144,1572,1572,1299,2.420323,False
20,서울특별시,중구,소공동,1263,461,245,216,137,3.153285,False
21,서울특별시,중구,회현동,5268,1295,651,644,940,1.370213,False
22,서울특별시,중구,명동,3085,828,376,452,573,1.577661,False

In [385]:
len(pop2013_2)

3561

In [386]:
Sejong = pop2013_1[pop2013_1['도'] == '세종특별자치시']
Sejong.head()

,도,시-군-구,읍면동,총인구수,총_20-39세,남성_20-39세,여성_20-39세,총_65세이상,소멸비율,소멸위기지역
1235,세종특별자치시,,,121267,33315,17544,15771,17731,1.778918,False
1236,세종특별자치시,,,121267,33315,17544,15771,17731,1.778918,False
1237,세종특별자치시,,조치원읍,47070,14408,7528,6880,5274,2.609025,False
1238,세종특별자치시,,연기면,2779,676,383,293,599,0.978297,True
1239,세종특별자치시,,연동면,3883,923,542,381,1003,0.759721,True

In [387]:
print(len(Sejong))

13

In [388]:
pop2013_2 = pd.concat([Sejong, pop2013_2])
pop2013_2.head()

,도,시-군-구,읍면동,총인구수,총_20-39세,남성_20-39세,여성_20-39세,총_65세이상,소멸비율,소멸위기지역
1235,세종특별자치시,,,121267,33315,17544,15771,17731,1.778918,False
1236,세종특별자치시,,,121267,33315,17544,15771,17731,1.778918,False
1237,세종특별자치시,,조치원읍,47070,14408,7528,6880,5274,2.609025,False
1238,세종특별자치시,,연기면,2779,676,383,293,599,0.978297,True
1239,세종특별자치시,,연동면,3883,923,542,381,1003,0.759721,True

In [389]:
print(len(pop2013_2))

3574

## 2013년 가장 소멸 비율이 높은 지역 30위까지 보여줌

In [390]:
data2013 = pop2013_2.sort_values(by='소멸비율', ascending=True)
data2013.head(30)

,도,시-군-구,읍면동,총인구수,총_20-39세,남성_20-39세,여성_20-39세,총_65세이상,소멸비율,소멸위기지역
3316,경상북도,의성군,신평면,827,72,53,19,442,0.085973,True
3248,경상북도,상주시,은척면북부출장소,389,23,14,9,200,0.090000,True
3032,전라남도,진도군,조도면가사출장소,283,34,26,8,129,0.124031,True
3318,경상북도,의성군,안사면,919,87,57,30,446,0.134529,True
2028,강원도,철원군,근북면,116,13,9,4,58,0.137931,True
977,인천광역시,강화군,서도면볼음출장소,247,24,15,9,124,0.145161,True
3537,경상남도,통영시,한산면,2288,253,177,76,1022,0.148728,True
2867,전라남도,고흥군,도양읍소록출장소,757,60,26,34,456,0.149123,True
3754,경상남도,거창군,가북면,1421,149,95,54,669,0.161435,True
3305,경상북도,의성군,사곡면,1678,183,122,61,736,0.165761,True
3341,경상북도,영덕군,지품면원전출장소,651,61,37,24,289,0.166090,True
2406,충청남도,서천군,시초면,1319,145,92,53,630,0.168254,True
3299,경상북도,군위군,고로면,1313,163,118,45,531,0.169492,True
2748,전라남도,여수시,화정면,1530,186,125,61,702,0.173789,True
3250,경상북도,상주시,이안면,2208,245,158,87,969,0.179567,True
3019,전라남도,완도군,청산면모도출장소,240,28,17,11,122,0.180328,True
3346,경상북도,영덕군,창수면,1892,215,132,83,894,0.185682,True
3298,경상북도,군위군,산성면,1285,156,102,54,579,0.186528,True
3734,경상남도,함양군,유림면,1798,189,108,81,867,0.186851,True
3084,경상북도,포항시,북구,1284,160,108,52,550,0.189091,True
3768,경상남도,합천군,쌍백면,2009,242,149,93,975,0.190769,True
1959,강원도,삼척시,노곡면,796,91,60,31,322,0.192547,True
2880,전라남도,고흥군,두원면,3423,403,240,163,1677,0.194395,True
2184,충청북도,영동군,용화면,1037,125,84,41,418,0.196172,True
3651,경상남도,의령군,유곡면,1368,162,98,64,651,0.196621,True
3331,경상북도,영양군,청기면,1881,219,141,78,792,0.196970,True
3538,경상남도,통영시,사량면,1583,195,132,63,637,0.197802,True
2780,전라남도,순천시,외서면,1023,124,81,43,433,0.198614,True
3317,경상북도,의성군,안평면,2244,274,173,101,1013,0.199408,True
2881,전라남도,고흥군,영남면,1505,188,120,68,671,0.202683,True

In [391]:
len(data2013[data2013['소멸위기지역']==True])

1302

## 2014~2017년도도 위와 같이 데이터 처리 작업
- for구문으로 함수로 만들어서 돌리면되겠지만.. 아직 복붙이 편해서 일단 복붙으로 했음..
- 2013~17년도까지의 소멸위기지역까지의 수정 데이터를 생성 후 xls파일로 저장

In [392]:
pop2014 = pd.read_excel('../bigdata/2014_pop.xls')
pop2014.fillna(method='pad', inplace=True)

pop2015 = pd.read_excel('../bigdata/2015_pop.xls')
pop2015.fillna(method='pad', inplace=True)

pop2016 = pd.read_excel('../bigdata/2016_pop.xls')
pop2016.fillna(method='pad', inplace=True)

pop2017 = pd.read_excel('../bigdata/2017_pop.xls')
pop2017.fillna(method='pad', inplace=True)

pop2014['총_20-39세'] = pop2014['총_20~24세'] + pop2014['총_25~29세']+ pop2014['총_30~34세'] +  pop2014['총_35~39세'] 
pop2014['남성_20-39세'] = pop2014['남성_20~24세'] + pop2014['남성_25~29세']+ pop2014['남성_30~34세'] +  pop2014['남성_35~39세'] 
pop2014['여성_20-39세'] = pop2014['여성_20~24세'] + pop2014['여성_25~29세']+ pop2014['여성_30~34세'] +  pop2014['여성_35~39세'] 
pop2014['총_65세이상'] = pop2014['총_65~69세'] + pop2014['총_70~74세']+ pop2014['총_75~79세'] + pop2014['총_80~84세'] + pop2014['총_85~89세']+ pop2014['총_90~94세'] +  pop2014['총_95~99세'] + pop2014['총_100세 이상']


pop2015['총_20-39세'] = pop2015['총_20~24세'] + pop2015['총_25~29세']+ pop2015['총_30~34세'] +  pop2015['총_35~39세'] 
pop2015['남성_20-39세'] = pop2015['남성_20~24세'] + pop2015['남성_25~29세']+ pop2015['남성_30~34세'] +  pop2015['남성_35~39세'] 
pop2015['여성_20-39세'] = pop2015['여성_20~24세'] + pop2015['여성_25~29세']+ pop2015['여성_30~34세'] +  pop2015['여성_35~39세'] 
pop2015['총_65세이상'] = pop2015['총_65~69세'] + pop2015['총_70~74세']+ pop2015['총_75~79세'] + pop2015['총_80~84세'] + pop2014['총_85~89세']+ pop2015['총_90~94세'] +  pop2015['총_95~99세'] + pop2015['총_100세 이상']

pop2016['총_20-39세'] = pop2016['총_20~24세'] + pop2016['총_25~29세']+ pop2016['총_30~34세'] +  pop2016['총_35~39세'] 
pop2016['남성_20-39세'] = pop2016['남성_20~24세'] + pop2016['남성_25~29세']+ pop2016['남성_30~34세'] +  pop2016['남성_35~39세'] 
pop2016['여성_20-39세'] = pop2016['여성_20~24세'] + pop2016['여성_25~29세']+ pop2016['여성_30~34세'] +  pop2016['여성_35~39세'] 
pop2016['총_65세이상'] = pop2016['총_65~69세'] + pop2016['총_70~74세']+ pop2016['총_75~79세'] + pop2016['총_80~84세'] + pop2016['총_85~89세']+ pop2016['총_90~94세'] +  pop2016['총_95~99세'] + pop2016['총_100세 이상']

pop2017['총_20-39세'] = pop2017['총_20~24세'] + pop2017['총_25~29세']+ pop2017['총_30~34세'] +  pop2017['총_35~39세'] 
pop2017['남성_20-39세'] = pop2017['남성_20~24세'] + pop2017['남성_25~29세']+ pop2017['남성_30~34세'] +  pop2017['남성_35~39세'] 
pop2017['여성_20-39세'] = pop2017['여성_20~24세'] + pop2017['여성_25~29세']+ pop2017['여성_30~34세'] +  pop2017['여성_35~39세'] 
pop2017['총_65세이상'] = pop2017['총_65~69세'] + pop2017['총_70~74세']+ pop2017['총_75~79세'] + pop2017['총_80~84세'] + pop2017['총_85~89세']+ pop2017['총_90~94세'] +  pop2017['총_95~99세'] + pop2017['총_100세 이상']

In [393]:
pop2014_1 = pop2014[['시군구', '총인구수', '총_20-39세', '남성_20-39세', '여성_20-39세', '총_65세이상']]
pop2015_1 = pop2015[['시군구', '총인구수', '총_20-39세', '남성_20-39세', '여성_20-39세', '총_65세이상']]
pop2016_1 = pop2016[['시군구', '총인구수', '총_20-39세', '남성_20-39세', '여성_20-39세', '총_65세이상']]
pop2017_1 = pop2017[['시군구', '총인구수', '총_20-39세', '남성_20-39세', '여성_20-39세', '총_65세이상']]

pop2014_1['도'] = [address.split(' ')[0] for address in pop2014_1['시군구']] 
pop2014_1['시-군-구'] = [address.split(' ')[1] for address in pop2014_1['시군구']] 
pop2014_1['-'] = [address.split(' ')[2] for address in pop2014_1['시군구']] 
pop2014_1['읍면동'] = [address.split('(')[0] for address in pop2014_1['-']] 

pop2015_1['도'] = [address.split(' ')[0] for address in pop2015_1['시군구']] 
pop2015_1['시-군-구'] = [address.split(' ')[1] for address in pop2015_1['시군구']]
pop2015_1['-'] = [address.split(' ')[2] for address in pop2015_1['시군구']] 
pop2015_1['읍면동'] = [address.split('(')[0] for address in pop2015_1['-']] 

pop2016_1['도'] = [address.split(' ')[0] for address in pop2016_1['시군구']] 
pop2016_1['시-군-구'] = [address.split(' ')[1] for address in pop2016_1['시군구']]
pop2016_1['-'] = [address.split(' ')[2] for address in pop2016_1['시군구']] 
pop2016_1['읍면동'] = [address.split('(')[0] for address in pop2016_1['-']] 

pop2017_1['도'] = [address.split(' ')[0] for address in pop2017_1['시군구']] 
pop2017_1['시-군-구'] = [address.split(' ')[1] for address in pop2017_1['시군구']]
pop2017_1['-'] = [address.split(' ')[2] for address in pop2017_1['시군구']] 
pop2017_1['읍면동'] = [address.split('(')[0] for address in pop2017_1['-']] 

pop2014_1 = pop2014_1[['도', '시-군-구', '읍면동', '총인구수', '총_20-39세', '남성_20-39세', '여성_20-39세', '총_65세이상']]
pop2015_1 = pop2015_1[['도', '시-군-구', '읍면동', '총인구수', '총_20-39세', '남성_20-39세', '여성_20-39세', '총_65세이상']]
pop2016_1 = pop2016_1[['도', '시-군-구', '읍면동', '총인구수', '총_20-39세', '남성_20-39세', '여성_20-39세', '총_65세이상']]
pop2017_1 = pop2017_1[['도', '시-군-구', '읍면동', '총인구수', '총_20-39세', '남성_20-39세', '여성_20-39세', '총_65세이상']]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [395]:
pop2014_1.is_copy = False
pop2014_1['소멸비율'] = pop2014_1['여성_20-39세'] / (pop2014_1['총_65세이상'] / 2)
pop2015_1.is_copy = False
pop2015_1['소멸비율'] = pop2015_1['여성_20-39세'] / (pop2015_1['총_65세이상'] / 2)
pop2016_1.is_copy = False
pop2016_1['소멸비율'] = pop2016_1['여성_20-39세'] / (pop2016_1['총_65세이상'] / 2)
pop2017_1.is_copy = False
pop2017_1['소멸비율'] = pop2017_1['여성_20-39세'] / (pop2017_1['총_65세이상'] / 2)

pop2014_1['소멸위기지역'] = pop2014_1['소멸비율'] < 1.0
pop2015_1['소멸위기지역'] = pop2015_1['소멸비율'] < 1.0
pop2016_1['소멸위기지역'] = pop2016_1['소멸비율'] < 1.0
pop2017_1['소멸위기지역'] = pop2017_1['소멸비율'] < 1.0

Sejong = pop2014_1[pop2014_1['도'] == '세종특별자치시']
pop2014_2 = pop2014_1[pop2014_1['도'] != '세종특별자치시']
pop2014_2 = pop2014_2[pop2014_2['시-군-구'] != ""]
pop2014_2 = pop2014_2[pop2014_2['읍면동'] != ""]
pop2014_2 = pd.concat([Sejong, pop2014_2])

Sejong = pop2015_1[pop2015_1['도'] == '세종특별자치시']
pop2015_2 = pop2015_1[pop2015_1['도'] != '세종특별자치시']
pop2015_2 = pop2015_2[pop2015_2['시-군-구'] != ""]
pop2015_2 = pop2015_2[pop2015_2['읍면동'] != ""]
pop2015_2 = pd.concat([Sejong, pop2015_2])

Sejong = pop2016_1[pop2016_1['도'] == '세종특별자치시']
pop2016_2 = pop2016_1[pop2016_1['도'] != '세종특별자치시']
pop2016_2 = pop2016_2[pop2016_2['시-군-구'] != ""]
pop2016_2 = pop2016_2[pop2016_2['읍면동'] != ""]
pop2016_2 = pd.concat([Sejong, pop2016_2])

Sejong = pop2017_1[pop2017_1['도'] == '세종특별자치시']
pop2017_2 = pop2017_1[pop2017_1['도'] != '세종특별자치시']
pop2017_2 = pop2017_2[pop2017_2['시-군-구'] != ""]
pop2017_2 = pop2017_2[pop2017_2['읍면동'] != ""]
pop2017_2 = pd.concat([Sejong, pop2017_2])

data2014 = pop2014_2.sort_values(by='소멸비율', ascending=True)
data2015 = pop2015_2.sort_values(by='소멸비율', ascending=True)
data2016 = pop2016_2.sort_values(by='소멸비율', ascending=True)
data2017 = pop2017_2.sort_values(by='소멸비율', ascending=True)

writer = pd.ExcelWriter('revised_pop_data.xlsx')
data2013.to_excel(writer,'2013_revised_pop')
data2014.to_excel(writer,'2014_revised_pop')
data2015.to_excel(writer,'2015_revised_pop')
data2016.to_excel(writer,'2016_revised_pop')
data2017.to_excel(writer,'2017_revised_pop')
writer.save()

# data2014.to_xsl('../bigdata/2014_revised_pop.csv', encoding='UTF-8')
# data2015.to_csv('../bigdata/2015_revised_pop.csv', encoding='UTF-8')
# data2016.to_csv('../bigdata/2016_revised_pop.csv', encoding='UTF-8')
# data2017.to_csv('../bigdata/2017_revised_pop.csv', encoding='UTF-8')

## 매 년마다 나오는 시군구,읍면이 다르게 나와서 행수가 다름..

In [396]:
print(len(data2013[data2013['소멸위기지역']==True]))
print(len(data2014[data2014['소멸위기지역']==True]))
print(len(data2015[data2015['소멸위기지역']==True]))
print(len(data2016[data2016['소멸위기지역']==True]))
print(len(data2017[data2017['소멸위기지역']==True]))

1302
1359
1450
1434
1510

# 2013년도 부터 2017년도까지의 소멸위험지역 best10 출력

In [397]:
data2013.head(10)

,도,시-군-구,읍면동,총인구수,총_20-39세,남성_20-39세,여성_20-39세,총_65세이상,소멸비율,소멸위기지역
3316,경상북도,의성군,신평면,827,72,53,19,442,0.085973,True
3248,경상북도,상주시,은척면북부출장소,389,23,14,9,200,0.090000,True
3032,전라남도,진도군,조도면가사출장소,283,34,26,8,129,0.124031,True
3318,경상북도,의성군,안사면,919,87,57,30,446,0.134529,True
2028,강원도,철원군,근북면,116,13,9,4,58,0.137931,True
977,인천광역시,강화군,서도면볼음출장소,247,24,15,9,124,0.145161,True
3537,경상남도,통영시,한산면,2288,253,177,76,1022,0.148728,True
2867,전라남도,고흥군,도양읍소록출장소,757,60,26,34,456,0.149123,True
3754,경상남도,거창군,가북면,1421,149,95,54,669,0.161435,True
3305,경상북도,의성군,사곡면,1678,183,122,61,736,0.165761,True

In [398]:
data2014.head(10)

,도,시-군-구,읍면동,총인구수,총_20-39세,남성_20-39세,여성_20-39세,총_65세이상,소멸비율,소멸위기지역
3326,경상북도,의성군,신평면,810,63,44,19,445,0.085393,True
3258,경상북도,상주시,은척면북부출장소,376,25,15,10,198,0.101010,True
2876,전라남도,고흥군,도양읍소록출장소,746,49,22,27,469,0.115139,True
3328,경상북도,의성군,안사면,899,83,56,27,457,0.118162,True
3041,전라남도,진도군,조도면가사출장소,292,33,25,8,128,0.125000,True
3351,경상북도,영덕군,지품면원전출장소,645,59,40,19,280,0.135714,True
3547,경상남도,통영시,한산면,2260,229,158,71,1027,0.138267,True
979,인천광역시,강화군,서도면볼음출장소,254,22,13,9,123,0.146341,True
1966,강원도,삼척시,노곡면,771,75,51,24,318,0.150943,True
2414,충청남도,서천군,시초면,1353,139,88,51,651,0.156682,True

In [399]:
data2015.head(10)

,도,시-군-구,읍면동,총인구수,총_20-39세,남성_20-39세,여성_20-39세,총_65세이상,소멸비율,소멸위기지역
3439,경상북도,울진군,매화면,2289,228,141,87,27495.0,0.006328,True
3068,전라남도,신안군,신의면,1777,369,212,157,28973.0,0.010838,True
2238,충청북도,단양군,대강면,2482,280,158,122,21703.0,0.011243,True
2465,충청남도,태안군,고남면,2608,318,188,130,20867.0,0.012460,True
2723,전라북도,부안군,진서면,2537,415,220,195,24394.0,0.015988,True
3357,경상북도,영덕군,지품면원전출장소,647,52,36,16,1186.0,0.026981,True
1856,경기도,양평군,단월면,3580,621,351,270,16098.0,0.033545,True
3783,경상남도,합천군,대양면,1693,200,110,90,5243.0,0.034331,True
3264,경상북도,상주시,은척면북부출장소,373,17,12,5,278.0,0.035971,True
3784,경상남도,합천군,쌍백면,1925,192,118,74,4039.0,0.036643,True

In [400]:
data2016.head(10)

,도,시-군-구,읍면동,총인구수,총_20-39세,남성_20-39세,여성_20-39세,총_65세이상,소멸비율,소멸위기지역
3261,경상북도,상주시,은척면북부출장소,363,12,9,3,192,0.031250,True
3329,경상북도,의성군,신평면,804,58,38,20,443,0.090293,True
3354,경상북도,영덕군,지품면원전출장소,623,45,30,15,299,0.100334,True
2879,전라남도,고흥군,도양읍소록출장소,674,33,10,23,457,0.100656,True
975,인천광역시,강화군,서도면볼음출장소,267,18,11,7,134,0.104478,True
3331,경상북도,의성군,안사면,857,67,42,25,448,0.111607,True
3044,전라남도,진도군,조도면가사출장소,290,28,20,8,127,0.125984,True
3311,경상북도,군위군,산성면,1245,119,80,39,616,0.126623,True
1969,강원도,삼척시,노곡면,782,62,41,21,311,0.135048,True
2038,강원도,철원군,근북면,109,11,7,4,59,0.135593,True

In [401]:
data2017.head(10)

,도,시-군-구,읍면동,총인구수,총_20-39세,남성_20-39세,여성_20-39세,총_65세이상,소멸비율,소멸위기지역
3265,경상북도,상주시,은척면북부출장소,382,20,13,7,192,0.072917,True
981,인천광역시,옹진군,대청면소청출장소,259,59,55,4,89,0.089888,True
2883,전라남도,고흥군,도양읍소록출장소,662,31,9,22,459,0.095861,True
3333,경상북도,의성군,신평면,811,57,34,23,441,0.104308,True
3358,경상북도,영덕군,지품면원전출장소,612,44,28,16,304,0.105263,True
975,인천광역시,강화군,서도면볼음출장소,269,21,14,7,129,0.108527,True
3316,경상북도,군위군,고로면,1314,109,76,33,601,0.109817,True
3335,경상북도,의성군,안사면,856,69,43,26,445,0.116854,True
3762,경상남도,거창군,신원면,1559,137,88,49,787,0.124524,True
3363,경상북도,영덕군,창수면,1796,151,92,59,900,0.131111,True