In [11]:
import pandas as pd
import numpy as np
import platform
import matplotlib.pyplot as plt
%matplotlib inline

In [12]:
path='c:/Windows/Fonts/malgun.ttf'

from matplotlib import font_manager, rc
if platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Font Error')    

plt.rcParams['axes.unicode_minus'] = False

In [13]:
death2008 = pd.read_csv('../death/death_raw/dead_2008_1.csv')
death2009 = pd.read_csv('../death/death_raw/dead_2009_1.csv')
death2010 = pd.read_csv('../death/death_raw/dead_2010_1.csv')
death2011 = pd.read_csv('../death/death_raw/dead_2011_1.csv')
death2012 = pd.read_csv('../death/death_raw/dead_2012_1.csv')
death2013 = pd.read_csv('../death/death_raw/dead_2013_1.csv')
death2014 = pd.read_csv('../death/death_raw/dead_2014_1.csv')
death2015 = pd.read_csv('../death/death_raw/dead_2015_1.csv')
death2016 = pd.read_csv('../death/death_raw/dead_2016_1.csv')
death2017 = pd.read_csv('../death/death_raw/dead_2017_1.csv')

In [14]:
table = pd.read_csv('../pro_data/pop_table1.csv')

In [15]:
death = pd.merge(death2008,table, how='outer')
death = pd.merge(death2009,death, how='outer')
death = pd.merge(death2010,death, how='outer')
death = pd.merge(death2011,death, how='outer')
death = pd.merge(death2012,death, how='outer')
death = pd.merge(death2013,death, how='outer')
death = pd.merge(death2014,death, how='outer')
death = pd.merge(death2015,death, how='outer')
death = pd.merge(death2016,death, how='outer')
death = pd.merge(death2017,death, how='outer')

In [16]:
death.head()

,지역번호,지역,1701,1702,1703,1704,1705,1706,1707,1708,...,803,804,805,806,807,808,809,810,811,812
0,1,전국,24136.0,25688.0,25171.0,21758.0,24994.0,23745.0,21497.0,23688.0,...,22596.0,21057.0,20170.0,19250.0,19718.0,18262.0,19464.0,20981.0,19263.0,22601.0
1,1100000000,서울특별시,3590.0,3877.0,3798.0,3398.0,3819.0,3619.0,3279.0,3591.0,...,3373.0,3292.0,3061.0,3030.0,3070.0,2914.0,3037.0,3400.0,2999.0,3550.0
2,1111000000,서울특별시 종로구,80.0,76.0,75.0,66.0,77.0,57.0,64.0,72.0,...,80.0,68.0,64.0,69.0,63.0,54.0,67.0,69.0,68.0,68.0
3,1111051500,서울특별시 종로구 청운효자동,5.0,9.0,6.0,2.0,3.0,2.0,7.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,2.0
4,1111053000,서울특별시 종로구 사직동,1.0,10.0,6.0,4.0,5.0,3.0,8.0,3.0,...,3.0,3.0,4.0,3.0,3.0,4.0,3.0,4.0,2.0,2.0

In [17]:
death.columns

Index(['지역번호', '지역', '1701', '1702', '1703', '1704', '1705', '1706', '1707',
       '1708',
       ...
       '803', '804', '805', '806', '807', '808', '809', '810', '811', '812'],
      dtype='object', length=122)

In [18]:
writer = pd.ExcelWriter('death.xlsx')
death.to_excel(writer, 'death.xlsx' )
writer.save()