In [129]:
import pandas as pd
import numpy as np
import platform
import matplotlib.pyplot as plt
%matplotlib inline 

#matplotlib의 결과를 IPython Notebook안에서 보여줍니다.

In [130]:
path='c:/Windows/Fonts/malgun.ttf'

from matplotlib import font_manager, rc
if platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Font Error')    

plt.rcParams['axes.unicode_minus'] = False

In [131]:
pop2008 = pd.read_csv('../bigdata/revised_1/2008_revised(1).csv')
pop2008.fillna(method='pad', inplace=True)


pop2008.head()

,행정구역,2008년01월_계_총인구수,2008년01월_계_65~69세,2008년01월_계_70~74세,2008년01월_계_75~79세,2008년01월_계_80~84세,2008년01월_계_85~89세,2008년01월_계_90~94세,2008년01월_계_95~99세,2008년01월_계_100세 이상,...,2008년12월_계_80~84세,2008년12월_계_85~89세,2008년12월_계_90~94세,2008년12월_계_95~99세,2008년12월_계_100세 이상,2008년12월_여_총인구수,2008년12월_여_20~24세,2008년12월_여_25~29세,2008년12월_여_30~34세,2008년12월_여_35~39세
0,서울특별시 (1100000000),10201656.0,365485.0,226758.0,133121.0,74759.0,36508.0,11478.0,2406.0,401.0,...,78895.0,39571.0,11990.0,2602.0,411.0,5139018.0,346859.0,509741.0,447607.0,476353.0
1,서울특별시 종로구 (1111000000),166464.0,7850.0,5097.0,3062.0,1758.0,947.0,299.0,54.0,11.0,...,1890.0,969.0,314.0,52.0,13.0,85307.0,5888.0,7882.0,6353.0,7702.0
2,서울특별시 종로구 청운동(1111051000),4741.0,183.0,157.0,92.0,44.0,24.0,11.0,2.0,0.0,...,184.0,81.0,30.0,8.0,1.0,8352.0,482.0,613.0,649.0,830.0
3,서울특별시 종로구 효자동(1111052000),12154.0,575.0,382.0,213.0,129.0,69.0,22.0,6.0,1.0,...,135.0,64.0,26.0,1.0,0.0,5260.0,347.0,452.0,397.0,478.0
4,서울특별시 종로구 사직동(1111053000),8788.0,495.0,323.0,209.0,117.0,59.0,18.0,1.0,1.0,...,73.0,36.0,16.0,0.0,1.0,1894.0,119.0,193.0,127.0,124.0

In [132]:
pop2008.columns

Index(['행정구역', '2008년01월_계_총인구수', '2008년01월_계_65~69세', '2008년01월_계_70~74세',
       '2008년01월_계_75~79세', '2008년01월_계_80~84세', '2008년01월_계_85~89세',
       '2008년01월_계_90~94세', '2008년01월_계_95~99세', '2008년01월_계_100세 이상',
       ...
       '2008년12월_계_80~84세', '2008년12월_계_85~89세', '2008년12월_계_90~94세',
       '2008년12월_계_95~99세', '2008년12월_계_100세 이상', '2008년12월_여_총인구수',
       '2008년12월_여_20~24세', '2008년12월_여_25~29세', '2008년12월_여_30~34세',
       '2008년12월_여_35~39세'],
      dtype='object', length=165)

In [133]:
#여성인구데이터추출
pop2008['1월_여성2030'] = pop2008['2008년01월_여_20~24세'] + pop2008['2008년01월_여_25~29세']+ pop2008['2008년01월_여_30~34세'] + pop2008['2008년01월_여_35~39세'] 
pop2008['2월_여성2030'] = pop2008['2008년02월_여_20~24세'] + pop2008['2008년02월_여_25~29세']+ pop2008['2008년02월_여_30~34세'] + pop2008['2008년02월_여_35~39세'] 
pop2008['3월_여성2030'] = pop2008['2008년03월_여_20~24세'] + pop2008['2008년03월_여_25~29세']+ pop2008['2008년03월_여_30~34세'] + pop2008['2008년03월_여_35~39세'] 
pop2008['4월_여성2030'] = pop2008['2008년04월_여_20~24세'] + pop2008['2008년04월_여_25~29세']+ pop2008['2008년04월_여_30~34세'] + pop2008['2008년04월_여_35~39세'] 
pop2008['5월_여성2030'] = pop2008['2008년05월_여_20~24세'] + pop2008['2008년05월_여_25~29세']+ pop2008['2008년05월_여_30~34세'] + pop2008['2008년05월_여_35~39세'] 
pop2008['6월_여성2030'] = pop2008['2008년06월_여_20~24세'] + pop2008['2008년06월_여_25~29세']+ pop2008['2008년06월_여_30~34세'] + pop2008['2008년06월_여_35~39세'] 
pop2008['7월_여성2030'] = pop2008['2008년07월_여_20~24세'] + pop2008['2008년07월_여_25~29세']+ pop2008['2008년07월_여_30~34세'] + pop2008['2008년07월_여_35~39세'] 
pop2008['8월_여성2030'] = pop2008['2008년08월_여_20~24세'] + pop2008['2008년08월_여_25~29세']+ pop2008['2008년08월_여_30~34세'] + pop2008['2008년08월_여_35~39세'] 
pop2008['9월_여성2030'] = pop2008['2008년09월_여_20~24세'] + pop2008['2008년09월_여_25~29세']+ pop2008['2008년09월_여_30~34세'] + pop2008['2008년09월_여_35~39세'] 
pop2008['10월_여성2030'] = pop2008['2008년10월_여_20~24세'] + pop2008['2008년10월_여_25~29세']+ pop2008['2008년10월_여_30~34세'] + pop2008['2008년10월_여_35~39세'] 
pop2008['11월_여성2030'] = pop2008['2008년11월_여_20~24세'] + pop2008['2008년11월_여_25~29세']+ pop2008['2008년11월_여_30~34세'] + pop2008['2008년11월_여_35~39세'] 
pop2008['12월_여성2030'] = pop2008['2008년12월_여_20~24세'] + pop2008['2008년12월_여_25~29세']+ pop2008['2008년12월_여_30~34세'] + pop2008['2008년12월_여_35~39세']

In [134]:
#65세이상인구데이터추출
pop2008['1월_65세이상'] = pop2008['2008년01월_계_65~69세'] + pop2008['2008년01월_계_70~74세'] + pop2008['2008년01월_계_75~79세'] + pop2008['2008년01월_계_80~84세']+ pop2008['2008년01월_계_85~89세']+ pop2008['2008년01월_계_90~94세']+ pop2008['2008년01월_계_95~99세'] + pop2008['2008년01월_계_100세 이상']
pop2008['2월_65세이상'] = pop2008['2008년02월_계_65~69세'] + pop2008['2008년02월_계_70~74세'] + pop2008['2008년02월_계_75~79세'] + pop2008['2008년02월_계_80~84세']+ pop2008['2008년02월_계_85~89세']+ pop2008['2008년02월_계_90~94세']+ pop2008['2008년02월_계_95~99세'] + pop2008['2008년02월_계_100세 이상']
pop2008['3월_65세이상'] = pop2008['2008년03월_계_65~69세'] + pop2008['2008년03월_계_70~74세'] + pop2008['2008년03월_계_75~79세'] + pop2008['2008년03월_계_80~84세']+ pop2008['2008년03월_계_85~89세']+ pop2008['2008년03월_계_90~94세']+ pop2008['2008년03월_계_95~99세'] + pop2008['2008년03월_계_100세 이상']
pop2008['4월_65세이상'] = pop2008['2008년04월_계_65~69세'] + pop2008['2008년04월_계_70~74세'] + pop2008['2008년04월_계_75~79세'] + pop2008['2008년04월_계_80~84세']+ pop2008['2008년04월_계_85~89세']+ pop2008['2008년04월_계_90~94세']+ pop2008['2008년04월_계_95~99세'] + pop2008['2008년04월_계_100세 이상']
pop2008['5월_65세이상'] = pop2008['2008년05월_계_65~69세'] + pop2008['2008년05월_계_70~74세'] + pop2008['2008년05월_계_75~79세'] + pop2008['2008년05월_계_80~84세']+ pop2008['2008년05월_계_85~89세']+ pop2008['2008년05월_계_90~94세']+ pop2008['2008년05월_계_95~99세'] + pop2008['2008년05월_계_100세 이상']
pop2008['6월_65세이상'] = pop2008['2008년06월_계_65~69세'] + pop2008['2008년06월_계_70~74세'] + pop2008['2008년06월_계_75~79세'] + pop2008['2008년06월_계_80~84세']+ pop2008['2008년06월_계_85~89세']+ pop2008['2008년06월_계_90~94세']+ pop2008['2008년06월_계_95~99세'] + pop2008['2008년06월_계_100세 이상']
pop2008['7월_65세이상'] = pop2008['2008년07월_계_65~69세'] + pop2008['2008년07월_계_70~74세'] + pop2008['2008년07월_계_75~79세'] + pop2008['2008년07월_계_80~84세']+ pop2008['2008년07월_계_85~89세']+ pop2008['2008년07월_계_90~94세']+ pop2008['2008년07월_계_95~99세'] + pop2008['2008년07월_계_100세 이상']
pop2008['8월_65세이상'] = pop2008['2008년08월_계_65~69세'] + pop2008['2008년08월_계_70~74세'] + pop2008['2008년08월_계_75~79세'] + pop2008['2008년08월_계_80~84세']+ pop2008['2008년08월_계_85~89세']+ pop2008['2008년08월_계_90~94세']+ pop2008['2008년08월_계_95~99세'] + pop2008['2008년08월_계_100세 이상']
pop2008['9월_65세이상'] = pop2008['2008년09월_계_65~69세'] + pop2008['2008년09월_계_70~74세'] + pop2008['2008년09월_계_75~79세'] + pop2008['2008년09월_계_80~84세']+ pop2008['2008년09월_계_85~89세']+ pop2008['2008년09월_계_90~94세']+ pop2008['2008년09월_계_95~99세'] + pop2008['2008년09월_계_100세 이상']
pop2008['10월_65세이상'] = pop2008['2008년10월_계_65~69세'] + pop2008['2008년10월_계_70~74세'] + pop2008['2008년10월_계_75~79세'] + pop2008['2008년10월_계_80~84세']+ pop2008['2008년10월_계_85~89세']+ pop2008['2008년10월_계_90~94세']+ pop2008['2008년10월_계_95~99세'] + pop2008['2008년10월_계_100세 이상']
pop2008['11월_65세이상'] = pop2008['2008년11월_계_65~69세'] + pop2008['2008년11월_계_70~74세'] + pop2008['2008년11월_계_75~79세'] + pop2008['2008년11월_계_80~84세']+ pop2008['2008년11월_계_85~89세']+ pop2008['2008년11월_계_90~94세']+ pop2008['2008년11월_계_95~99세'] + pop2008['2008년11월_계_100세 이상']
pop2008['12월_65세이상'] = pop2008['2008년12월_계_65~69세'] + pop2008['2008년12월_계_70~74세'] + pop2008['2008년12월_계_75~79세'] + pop2008['2008년12월_계_80~84세']+ pop2008['2008년12월_계_85~89세']+ pop2008['2008년12월_계_90~94세']+ pop2008['2008년12월_계_95~99세'] + pop2008['2008년12월_계_100세 이상']

In [135]:
pop2008.head()

,행정구역,2008년01월_계_총인구수,2008년01월_계_65~69세,2008년01월_계_70~74세,2008년01월_계_75~79세,2008년01월_계_80~84세,2008년01월_계_85~89세,2008년01월_계_90~94세,2008년01월_계_95~99세,2008년01월_계_100세 이상,...,3월_65세이상,4월_65세이상,5월_65세이상,6월_65세이상,7월_65세이상,8월_65세이상,9월_65세이상,10월_65세이상,11월_65세이상,12월_65세이상
0,서울특별시 (1100000000),10201656.0,365485.0,226758.0,133121.0,74759.0,36508.0,11478.0,2406.0,401.0,...,861994.0,865240.0,867872.0,869676.0,871860.0,875363.0,879347.0,882520.0,885966.0,890052.0
1,서울특별시 종로구 (1111000000),166464.0,7850.0,5097.0,3062.0,1758.0,947.0,299.0,54.0,11.0,...,19390.0,19463.0,19519.0,19565.0,19578.0,19661.0,19757.0,19818.0,19879.0,19921.0
2,서울특별시 종로구 청운동(1111051000),4741.0,183.0,157.0,92.0,44.0,24.0,11.0,2.0,0.0,...,508.0,507.0,512.0,509.0,504.0,491.0,488.0,1906.0,1884.0,1875.0
3,서울특별시 종로구 효자동(1111052000),12154.0,575.0,382.0,213.0,129.0,69.0,22.0,6.0,1.0,...,1433.0,1433.0,1425.0,1421.0,1413.0,1425.0,1429.0,1334.0,1351.0,1354.0
4,서울특별시 종로구 사직동(1111053000),8788.0,495.0,323.0,209.0,117.0,59.0,18.0,1.0,1.0,...,1278.0,1281.0,1288.0,1301.0,1304.0,1309.0,1321.0,586.0,585.0,581.0

In [136]:
pop2008['주소'] = [address.split('(') [0] for address in pop2008['행정구역']]
pop2008['-'] = [address.split('(')[1] for address in pop2008 ['행정구역']]
pop2008['구역번호'] = [address.split(')')[0] for address in pop2008 ['-']]

In [137]:
pop2008 = pop2008[['구역번호', '주소', '1월_여성2030', '2월_여성2030', '3월_여성2030', '4월_여성2030', '5월_여성2030', '6월_여성2030', '7월_여성2030', '8월_여성2030', '9월_여성2030', '10월_여성2030', '11월_여성2030', '12월_여성2030', '1월_65세이상', '2월_65세이상', '3월_65세이상', '4월_65세이상', '5월_65세이상', '6월_65세이상', '7월_65세이상', '8월_65세이상', '9월_65세이상', '10월_65세이상', '11월_65세이상', '12월_65세이상']]

In [138]:
pop2008.head()

,구역번호,주소,1월_여성2030,2월_여성2030,3월_여성2030,4월_여성2030,5월_여성2030,6월_여성2030,7월_여성2030,8월_여성2030,...,3월_65세이상,4월_65세이상,5월_65세이상,6월_65세이상,7월_65세이상,8월_65세이상,9월_65세이상,10월_65세이상,11월_65세이상,12월_65세이상
0,1100000000,서울특별시,1811457.0,1811312.0,1805755.0,1803677.0,1801280.0,1798682.0,1795116.0,1792264.0,...,861994.0,865240.0,867872.0,869676.0,871860.0,875363.0,879347.0,882520.0,885966.0,890052.0
1,1111000000,서울특별시 종로구,27462.0,27655.0,27637.0,27746.0,27788.0,27918.0,27929.0,27967.0,...,19390.0,19463.0,19519.0,19565.0,19578.0,19661.0,19757.0,19818.0,19879.0,19921.0
2,1111051000,서울특별시 종로구 청운동,671.0,678.0,665.0,658.0,655.0,660.0,665.0,673.0,...,508.0,507.0,512.0,509.0,504.0,491.0,488.0,1906.0,1884.0,1875.0
3,1111052000,서울특별시 종로구 효자동,2030.0,2027.0,2024.0,2026.0,2029.0,2032.0,2022.0,2015.0,...,1433.0,1433.0,1425.0,1421.0,1413.0,1425.0,1429.0,1334.0,1351.0,1354.0
4,1111053000,서울특별시 종로구 사직동,1469.0,1528.0,1553.0,1589.0,1612.0,1627.0,1628.0,1640.0,...,1278.0,1281.0,1288.0,1301.0,1304.0,1309.0,1321.0,586.0,585.0,581.0

In [139]:
pop2008['2008_01소멸비율'] = pop2008['1월_여성2030'] / (pop2008['1월_65세이상'] / 2)
pop2008['2008_02소멸비율'] = pop2008['2월_여성2030'] / (pop2008['2월_65세이상'] / 2)
pop2008['2008_03소멸비율'] = pop2008['3월_여성2030'] / (pop2008['3월_65세이상'] / 2)
pop2008['2008_04소멸비율'] = pop2008['4월_여성2030'] / (pop2008['4월_65세이상'] / 2)
pop2008['2008_05소멸비율'] = pop2008['5월_여성2030'] / (pop2008['5월_65세이상'] / 2)
pop2008['2008_06소멸비율'] = pop2008['6월_여성2030'] / (pop2008['6월_65세이상'] / 2)
pop2008['2008_07소멸비율'] = pop2008['7월_여성2030'] / (pop2008['7월_65세이상'] / 2)
pop2008['2008_08소멸비율'] = pop2008['8월_여성2030'] / (pop2008['8월_65세이상'] / 2)
pop2008['2008_09소멸비율'] = pop2008['9월_여성2030'] / (pop2008['9월_65세이상'] / 2)
pop2008['2008_10소멸비율'] = pop2008['10월_여성2030'] / (pop2008['10월_65세이상'] / 2)
pop2008['2008_11소멸비율'] = pop2008['11월_여성2030'] / (pop2008['11월_65세이상'] / 2)
pop2008['2008_12소멸비율'] = pop2008['12월_여성2030'] / (pop2008['12월_65세이상'] / 2)

pop2008.head()

,구역번호,주소,1월_여성2030,2월_여성2030,3월_여성2030,4월_여성2030,5월_여성2030,6월_여성2030,7월_여성2030,8월_여성2030,...,2008_03소멸비율,2008_04소멸비율,2008_05소멸비율,2008_06소멸비율,2008_07소멸비율,2008_08소멸비율,2008_09소멸비율,2008_10소멸비율,2008_11소멸비율,2008_12소멸비율
0,1100000000,서울특별시,1811457.0,1811312.0,1805755.0,1803677.0,1801280.0,1798682.0,1795116.0,1792264.0,...,4.189716,4.169195,4.151027,4.136442,4.117900,4.094905,4.069941,4.048167,4.027909,4.001025
1,1111000000,서울특별시 종로구,27462.0,27655.0,27637.0,27746.0,27788.0,27918.0,27929.0,27967.0,...,2.850645,2.851153,2.847277,2.853872,2.853100,2.844921,2.827049,2.811485,2.807385,2.793534
2,1111051000,서울특별시 종로구 청운동,671.0,678.0,665.0,658.0,655.0,660.0,665.0,673.0,...,2.618110,2.595661,2.558594,2.593320,2.638889,2.741344,2.754098,2.766002,2.781316,2.745600
3,1111052000,서울특별시 종로구 효자동,2030.0,2027.0,2024.0,2026.0,2029.0,2032.0,2022.0,2015.0,...,2.824843,2.827634,2.847719,2.859958,2.861996,2.828070,2.790763,2.503748,2.481125,2.472674
4,1111053000,서울특별시 종로구 사직동,1469.0,1528.0,1553.0,1589.0,1612.0,1627.0,1628.0,1640.0,...,2.430360,2.480874,2.503106,2.501153,2.496933,2.505730,2.508706,1.952218,1.935043,1.938038

In [140]:
writer = pd.ExcelWriter('monthlypop_2008.xlsx')
pop2008.to_excel(writer,'monthlypop_2008.xlsx')
writer.save()